body{
    margin: 0px 0px;
    background-color: white;
}

/* .container{
      
    margin: 0px 100px;
} */

.nav{
    text-align: center;
    overflow: auto;
    margin:0px 0px;
    padding-bottom: 10px;
  
}

.nav ul {
    margin:0px 0px;
}

.nav ul li , .nav ul h1 {
    display: inline;
    list-style: none;
    margin-right:100px;
    color: #ffffff;
}

.nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}


.nav h1 {
    font-family: 'Dancing Script', cursive;
}
.nav h1 a{
    cursor: pointer;
}

.navFixed{
    position: fixed;
    background-color: rgba(22, 3, 3, 0.966);
    width: 100%;
  
}


.headerImage{
    background-image: url(http://file.hstatic.net/1000075078/file/3e0a8783_master.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    text-align: center;
  

    /* position: relative; */
}
.headerContent{
    margin-top: 100px;
    color: white;
}
.headerContent h1{

    color: white;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
.headerContent p{

    color: white;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 40px;
    color: #303030;
    font-family: 'Roboto', sans-serif;
}

p{
    color: #666666c5;
    font-size: 18px;
    line-height: 30px;

}
/*------aboutUs-main -------*/
body > main > div.first-info{ 
    margin-top: 40px;
    margin-bottom: 61px;
}
body > main > div.container{ 
    margin-right: 74px;
}
body > header > div > div.nav > ul{

    height: 53px;
    width: 1350px;
    padding-left: 0px;

}
.first-info h1{
  margin-top: 20px;
  margin-bottom: 14px;
  text-align:center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
}
body > main > div.first-info > h1{
    margin-top: 75px;
    margin-bottom: 20px;
}
.first-info p{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align:center;
    font-size:25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
#h{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 8px;
    border-top-width: 10px;
    padding-top: 10px;

}
#h:after{
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}
.card{
    float: left;
    width: 31%;
    margin: 0px 10px;
    margin-bottom: 20px;
    text-align: center;
    transition: .3s ease-out;
    opacity: 1;
}
body > main > div > div:nth-child(2) > div.product > img{
    height: 330px;
    width: 333px;
}
body > main > div > div:nth-child(6) > div.product > img{
    height: 330px;
}
body > main > div > div:nth-child(5) > div.product > img{
    height: 329px;
}
.card:hover  {
    transform: scale(1.04);
    background-color: rgba(104, 6, 6, 0.007); 
}

.product{
    position: relative;
    width: 100%;
    overflow: hidden;

}
.details h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}
.details h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}
#p{
    font-size: 14px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.788);
}
.product .listProduct a .fa:hover{
    color:#e1be64;
}
.product img{
    width: 100%;
    height: 30%;
}

.listProduct{
    position: absolute;
    bottom: -50%;
    width: 100%;  
} 
.card:hover .listProduct{
    bottom: 50px;
    left: -15px;
}

.clear{
    clear: both;
}
.product a{
    color: rgb(253, 253, 253);
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}
.product a:hover{
    color:#e1be64;
}

/*------aboutUs-footer -------*/

button { 
    padding: 20px 30px;
    color: rgba(0, 0, 0, 0.774);
    background-color: white;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;

}
button:hover{
    background-color: rgb(197, 171, 26);
    color: white;
}

.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius : 50%;
    color: white;
  }

  .fa-facebook:hover {
    opacity: 0.7;
    color : blue;
}
.fa-instagram:hover {
    opacity: 0.9;
    color : rgb(168, 14, 47);
}
.fa-snapchat-ghost:hover {
    opacity: 0.9;
    color : rgb(221, 255, 27);
}
.fa-twitter:hover {
    opacity: 0.7;
    color : rgb(32, 52, 230);
}
footer{
    background-color: rgb(36, 35, 35);
    /* padding: 10px 10px; */
    overflow: auto;
    text-align: center;


}

footer div{
    text-align: center;
    display: inline-block;

}
.copy{
    margin-right: 260px;

}
.copy p{
    color: white;
}

.footerLogo h1{
    font-family: 'Dancing Script', cursive;
    color: white;
}

.sochial{
    margin-left: 260px;
}


#shop a{

    color: rgb(218, 171, 18);
}

.nav ul li a:hover{
    border-bottom:1px solid rgb(255, 255, 255);

}
body > footer{  
  margin-top: 20px;
} 

body > main > div.container > div:nth-child(2) > div.details{
    
    height: 147px;


}
body > main > div.container > div:nth-child(2) > div.product > img{
    
    width: 343px;

}
#anas{
    
    height: 467px;

}
#anas > div.product > img{
    
    height: 331px;

}

#fixed > ul{
    text-align: center;
    box-sizing: border-box;
    transition: all 0.2s;
    margin: 0px 0px;
    width: 1352px;
    height: 58px;
    box-shadow: -1px 4px 9px #00000047;
    position: fixed;
  
    background: white;
    margin-top: 0px;
    
}
#fixed ul li , #fixed ul h1 {
    display: inline;
    list-style: none;
    margin-right:100px;
    color: rgb(34, 31, 31);
}
#fixed ul li a{
    text-decoration: none;
    color: rgb(43, 38, 38);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}
#fixed  h1 {
    font-family: 'Dancing Script', cursive;
}
body > main > img{
    
    margin-top: 70px;

    height: 700px;
    width: 1349px;

}

body > footer{
    
    margin-top: 0px;

}