* {box-sizing: border-box;
    transition: all 0.2s;
}
body{
    margin: 0px 0px;
}
/*------cart-header -------*/
.nav{
    text-align: center;
    overflow: auto;
    margin:0px 0px;
    padding: 0px 0px;
   
    width: 100%;
    /* position: fixed; */
    height: 60px;
    /* box-shadow: 0px 4px 9px #00000047; */
}

.nav ul {
    margin:0px 0px;
}
.nav ul li , .nav ul h1 {
    display: inline;
    list-style: none;
    margin-right:100px;
    color: white;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}
.nav h1 {
    font-family: 'Dancing Script', cursive;
}
.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius : 50%;
    color: white;
  }
  .fa-facebook:hover {
    opacity: 0.7;
    color : blue;
}
.fa-instagram:hover {
    opacity: 0.9;
    color : rgb(168, 14, 47);
}
.fa-snapchat-ghost:hover {
    opacity: 0.9;
    color : rgb(243, 239, 14);
}
.fa-twitter:hover {
    opacity: 0.7;
    color : rgb(32, 52, 230);
}
.clear{
    clear: both;
}
h1{
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 40px;
    color: #303030;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #0a0a0ac5;
    font-size: 18px;
    line-height: 20px;
    /* font-family: 'Roboto', sans-serif; */
}
button { 
    padding: 20px 30px;
    color: rgba(0, 0, 0, 0.774);
    background-color: white;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: rgb(197, 171, 26);
    color: white;
}
.tp-container{
    background-color: rgb(248, 247, 247);
    padding: 10px 10px;
    overflow: auto;
    text-align: center;
}
.tp-container P{
    color: #333;
    font-size: 35px;
    text-align: left;
    font-weight: bold; 
    font-family: 'Roboto', sans-serif;
    margin-left: 150px;
    margin-top: 130px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
/*------cart-main -------*/
.small-container{
    /* margin:100px 200px; */
    margin-left: 150px;
    margin-right: 180px;
}
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
.cart-info {
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    /* padding: 5px; */
    padding: 10px 5px;
    color: rgb(7, 7, 7);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e5e5e5
}
td{
    padding: 10px 5px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e5e5e5
    
}
td small{
    color:rgba(27, 27, 27, 1);
    font-family: 'Roboto', sans-serif;
}
td input{
    width: 50px;
    height: 38px;
    padding: 5px;
    border-color: #666 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.img-info{
    margin-top: -16px;
    padding-left: 3px;
}
td .remPara{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-top: 4px;
    color: red;
    cursor: pointer;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
td :first-child{
  color: rgb(10, 10, 10);
  /* text-transform: uppercase; */
}
.small-container  .coupon .input-text {
  /* display: inline-block; */
  width: 200px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(229, 229, 229);
  color: rgb(161, 12, 12);
  padding: 12px 15px;
  font-size: 12px;
  line-height: 20px;
  font-weight: inherit;
  height: 45px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}
.small-container  .coupon .button{
  width: 200px;
  height: 20px;
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  padding: 0 26px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #fff;
  background-color: #333;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 15px;
}
.small-container  .coupon .button:hover{
    background: #e1be64;
    color: black;
    font-size: 13px;
    font-weight: 600;
}
#contact > fieldset > label:nth-child(32){
    position: relative;bottom: 11px;
}
.cart-total{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #333;
    font-size: 20px;
    text-align: center;
    font-weight: bold;  
    /* margin-left: 150px;
    margin-top: 75px; */
    text-transform: uppercase;
    margin: 70px;
}
.total-price{
display: flex;
justify-content: flex-end;
}
.total-price table{
    /* max-width: 390px; */
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
#totalNumber{
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
.checkout .checkout{
  width: 200px;
  height: 20px;
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #fff;
  background-color: #333;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.checkout .checkout:hover{
    background-color: #e1be64;
    color: black;
    font-size: 13px;
    font-weight: 600;
}
/*------cart-footer -------*/
footer{
    background-color: rgb(36, 35, 35);
    /* padding: 10px 10px; */
    overflow: auto;
    text-align: center;
}
footer div{
    text-align: center;
    display: inline-block;
    
}
.copy{
    margin-right: 260px;
    
}
.copy p{
    color: white;
}
.footerLogo h1{
    font-family: 'Dancing Script', cursive;
    color: white;
}
.sochial{
    margin-left: 260px;
}
/*------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  select:not(:-internal-list-box) {
    overflow: visible !important;
}
/*-----------------------------------------------------------------------------------------------*/
#contact > fieldset > input{
    width: 210px;
    margin-left: 20px;
}
#contact > fieldset > label{
    
    margin-left: 20px;
}
#contact > fieldset{
    
    width: 516px;
    margin-left: 181px;
}
#contact > h1{
    margin-left: 333px;
}
#contact > fieldset > label:nth-child(8){
    box-sizing: border-box;
    transition: all 0.2s;
    margin-left: 160px;
}
#contact > fieldset > input[type=number]:nth-child(13){
    width: 457px;
}
#myModal > div{
    width: 827px;
    height: 729px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 194px;
}
#myModal > div > span{
    
    margin-right: 65px;
    margin-top: 15px;
    width: 28px;
    height: 39px;
}
#cars{
    margin-left: 19px;
    width: 457px;
}
#contact > fieldset > input:nth-child(23){
    width: 457px;
} 
#online{
    
    width: 15px !important;
display: inline;
}
#contact > fieldset > label:nth-child(29) > p{
    
    display: inline;
    position: relative;
}#contact > fieldset > div{
    
    display: inline-flex;
}
#contact > fieldset > p{
    width: 50px;
    display: -webkit-inline-box;
}
#contact > fieldset > div > label > p{
    
    width: 52px;
    display: inline;
}
#online{
    display: contents;
}
#myModal > div > div > h1{
    margin-top: 0px;
    margin-left: 0‒;
    margin-bottom: 15px;
    width: 246px;
    margin-left: 172px;
    color: aliceblue;
}
#myModal > div > div{
    height: 708px;
    padding-top: 0px;
    background-color: #00000087;
}
#contact > fieldset{
    /* background-color: #00000075; */
    color: white;
}
#contact > fieldset > label:nth-child(28) > img{
    
    height: 79px;
position: relative;
width: 208px;
display: flex;
margin-right: 0px;
}
#myModal > div{
    box-sizing: border-box;
    transition: all 0.2s;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 827px;
    height: 729px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 194px;
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/4/39/belyi-fon-kofe-kruasany.jpg);
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 0px;
}

#myModal > div{
    background-position-x: -499px;
    background-size: 160%;
}
#contact-submit{
    box-sizing: border-box;
    transition: all 0.2s;
    padding: 20px 30px;
    color: rgba(0, 0, 0, 0.774);
    background: #e1be64;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 11px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 304px;
    height: 42px;
    padding-right: 38px;
    margin-left: 91px;
}
#contact-submit:hover{
    background-color: blanchedalmond;
}
#ondoor{
    
    width: 16px !important;
    height: 16px;
}
#contact > fieldset > label:nth-child(32){
    margin-left: 0px;
}
#myModal > div > div{
    box-sizing: border-box;
    transition: all 0.2s;
    height: 730px;
    padding-top: 0px;
    /* background-color: #00000073; */
}
#myModal > div > div > h1{
    margin-top: 0px;
    padding-top: 25px;
    margin-left: 296px;
}
#contact > fieldset > label:nth-child(8){
    color: #a8c6d1;
}
#contact > fieldset > label:nth-child(7){
    color: #bbd8e2;
}
#myModal{
  display: inline-grid;
    padding-top: 1px;
}
#contact > fieldset > input{
    
    height: 35px;
}

#cart a{
  
    color: #e0a000;
}

.nav ul li a:hover{
    border-bottom:1px solid rgb(0, 0, 0);
    
}
#contact > fieldset{
    padding-bottom: 155px;

    margin-left: 0px;
    margin-right: 0px;
    padding-right: 334px;

}
 #contact > span{
    position: absolute;
} 
#contact > span{
    height: 0px;
    left: 146.5;
    margin-left: 802px;
    top: 33px;

}
#contact > fieldset{
    
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    margin-left: 185px;
    padding-right: 8px;
    
    padding-bottom: 86px;


}

#contact > h1{
    
    margin-top: 0px;
    padding-top: 42px;
    margin-bottom: 0px;
color: bisque;
font-size: 50px;

margin-left: 277px;

}
#cars{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 11px;

}

#contact > fieldset > input[type=number]:nth-child(13){
    padding-left: 8px;


<<<<<<< HEAD
}
/*body > divbody > div*/
body > div{
    height: 580px;
    background-image: url(https://data.whicdn.com/images/347931708/original.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 583px;
}
body > div > p{
    color: aliceblue !important;
}

.tp-container{
    height: 505px !important;
    z-index: 4;
    height: 250PX;/* position: absolute; */position: relative;
    style="height: 250PX;
    
}

#fixed{
    position: fixed  !important;
    z-index: 1;
}
.tp-container{
    height: 250PX;padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;
}
body > div > p{
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    text-align: center !important;
    background: rgba(0, 0, 0, 0.486);
    
    height: 445px;


    padding-top: 126px;

}
body > div > div{
    
    background: rgba(0, 0, 0, 0.486);

}
#fixed > ul{
    text-align: center;
    box-sizing: border-box;
    transition: all 0.2s;
    margin: 0px 0px;
    width: 1352px;
    height: 58px;
    box-shadow: -1px 4px 9px #00000047;
    position: fixed;
    z-index: 1;
    background: white;
    margin-top: 0px;
    
}
#fixed ul li , #fixed ul h1 {
    display: inline;
    list-style: none;
    margin-right:100px;
    color: rgb(34, 31, 31);
}
#fixed ul li a{
    text-decoration: none;
    color: rgb(43, 38, 38);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}
#fixed  h1 {
    font-family: 'Dancing Script', cursive;
=======
>>>>>>> 6502a2de2b7d74f17b185077b23515938163f1c1
}